

.profile{
  display: flex;
  height: 266px;
  border: 2px solid #0e9fb5;
  width: 573px;
  padding: 45px;
}
#userImage{
  height: 10rem;
  border-radius: 50%;
  border: 1px solid black;
  padding: 4px;
  margin: 8px;
}
.main{
  position: relative;
  margin-left: 8rem;

}
.edit-profile{
  height: 30px;
 margin: 0.5rem;
  background: rgb(237, 237, 237);
  padding: 0;
  width: 100px;
}